# C++ specific
*.obj
*.o
*.exe
*.out
*.app
*.dSYM/
*.lib
*.a
*.dll
*.so
*.dylib

# Libraries
*.lib
*.a

# Build directories
bin/
obj/
build/

# env files
.env
notes.txt

# Visual Studio Code

.vscode
